{
  "AWSTemplateFormatVersion": "2010-09-09",
  "Parameters": {
    "PrimaryKmsKeyId": {
      "Type": "String",
      "Description": "ARN of the primary KMS key"
    }
  },
  "Resources": {
    "ReplicaKmsKey": {
      "Type": "AWS::KMS::ReplicaKey",
      "Properties": {
        "Description": "Replica KMS key",
        "PrimaryKeyArn": { "Fn::Sub" : "arn:aws:kms:us-east-1:235154285215:key/${PrimaryKmsKeyId}" },
        "KeyPolicy": {
          "Version": "2012-10-17",
          "Id": "key-default-1",
          "Statement": [
            {
              "Effect": "Allow",
              "Principal": {
                "AWS": "*"
              },
              "Action": "kms:Decrypt",
              "Resource": "*"
            }
          ]
        }
      }
    }
  }
}
